
.menu
{
    background-color: #cccccc;
    border-style: groove;
    -moz-border-radius: 20px 20px;
    -webkit-border-radius: 20px 20px;
    border-radius: 20px 20px;
    width: 150px;
    position:absolute;
    z-index:63;
}

#testa
{
    width:5000px;
    height: 50px;
}
#testa2
{
    top: 0px; 
    left:0px;
    position: absolute;
    width:970px;
    height:50px;
    background:-webkit-gradient(linear,right top,right bottom,from(rgba(230,230,230,1)),to(rgba(175,175,175,1)));
    background:-moz-linear-gradient(top,rgba(255,255,255,1),rgba(185,185,185,1));
    padding-left: 20px;
    overflow: auto;
    display:block;
}
.bt_testata
{
    text-align: center;
    height:25px; 
    width:150px;
    text-decoration:none;
    float: left;
    margin-top: 10px;
    margin-right:10px;
    z-index:5;
    margin-left: 5px;
}
.a_bt_testata 
{
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px;
    color:rgba(0,0,0,0.9);
    text-align: center;
    height:20px; 
    width:150px;
    text-decoration: none;
    background:-webkit-gradient(linear,0% 0%,0% 100%,from(rgba(255,255,255,1)),to(rgba(185,185,185,1)));
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10pt;
    padding:5px 5px 5px 5px;
    z-index: 20;
}
#centro
{
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;

    border-radius: 10px 10px 10px 10px;        
    top:60px;  
    left:7px;
    width:780px;
    height:539px; 
    position:absolute;
    overflow: auto;
    z-index:1;
    background-color:white;

}
#sotto_centro
{
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px;        
    top:545px;  
    left:15px;
    width:760px;
    height:50px; 
    position:absolute;
    z-index:1;
    background-color:#777777 ;
    opacity:0.2;
    filter:alpha(opacity=40); /* For IE8 and earlier */

}
#laterale
{
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;   
    top:60px;
    left:796px;
    width:190px; 
    position:absolute;
    height:539px;
    background-color:white;
    overflow: auto;
}
.img_laterale
{
    position:relative;
    top:4px;
    left:4px;
    z-index: 6;
}
img
{
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 10px 10px 10px 10px; 
}
#pie
{
    top: 610px; 
    left:0px;
    position:absolute; 
    width:990px;
    height:50px;
    background:-webkit-gradient(linear,right top,right bottom,from(rgba(230,230,230,1)),to(rgba(175,175,175,1)));
    background:-moz-linear-gradient(top,rgba(255,255,255,1),rgba(185,185,185,1));
}
#container
{

    top:0px;
    left:0px;
    width:1000px;
    height:666px;
    background-color: #cccccc;
    position: absolute;
    background: #cccccc;
}


.a_bt_testata:hover {
    background:rgba(240,240,240,1);
    height:20px;
}

.a_bt_testata:active, a:focus {
    background:indianred;
    /*    background:-webkit-gradient(linear,0% 100%,0% 0%,from(rgba(255,255,255,1)),to(rgba(185,185,185,1)));
        background:-moz-linear-gradient(bottom,rgba(255,255,255,1),rgba(185,185,185,1));*/
    height:20px;

}

.a_bt_testata:disabled {
    color:rgba(0,0,0,0.4);
    text-shadow:1px 1px 0px rgba(255,255,255,0.5);
    background:rgba(220,220,220,1);

}
.bt_laterale
{
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px;
    color:rgba(0,0,0,0.9);
    text-align: left;
    height:35px; 
    width:150px;
    text-decoration:none;
    border-color:#cccccc;
    background:-webkit-gradient(linear,0% 0%,0% 100%,from(rgba(255,255,255,1)),to(rgba(220,220,220,1)));
    background:-moz-linear-gradient(top,rgba(255,255,255,1),rgba(185,185,185,1));
    padding:15px 10px 10px 10px;   
    margin-top: 10px;
    margin-right:3px;
    margin-bottom:10px;
}
.a_bt_laterale 
{
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;     
    color:rgba(0,0,0,0.9);
    text-align: center;
    height:35px; 
    width:130px;
    text-decoration: none;
    /*
    background:-webkit-gradient(radial,0% 0%,0% 100%,from(rgba(255,255,255,1)),to(rgba(185,185,185,1)));
    background:-moz-linear-gradient(top,rgba(255,255,255,1),rgba(185,185,185,1));
    */
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10pt;
    /*    background:-webkit-gradient(linear,0% 0%,0% 100%,from(rgba(255,255,255,1)),to(rgba(185,185,185,1)));
        background:-moz-linear-gradient(top,rgba(255,255,255,1),rgba(185,185,185,1));*/
    padding:0px 0px 0px 0px;
    margin-left:3px;
    z-index: 20;
}
/*
.a_bt_laterale:hover {
    background:rgba(240,240,240,1);
    height:25px;
}

.a_bt_laterale:active, a:focus {
    background:indianred;
        background:-webkit-gradient(linear,0% 100%,0% 0%,from(rgba(255,255,255,1)),to(rgba(185,185,185,1)));
        background:-moz-linear-gradient(bottom,rgba(255,255,255,1),rgba(185,185,185,1));
height:25px;

}

.a_bt_laterale:disabled {
    color:rgba(0,0,0,0.4);
    text-shadow:1px 1px 0px rgba(255,255,255,0.5);
    background:rgba(220,220,220,1);

}

*/
.bt_pie
{
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px;
    color:rgba(0,0,0,0.9);
    text-align: center;
    height:30px; 
    width:150px;
    text-decoration:none;
    border-color:#cccccc;
    background:-webkit-gradient(linear,0% 0%,0% 100%,from(rgba(255,255,255,1)),to(rgba(185,185,185,1)));
    background:-moz-linear-gradient(top,rgba(255,255,255,1),rgba(185,185,185,1));
    padding:5px 5px 5px 5px;   
    float: left;
    margin-top: 0px;
    margin-right:10px;
    z-index:5;
}
.a_bt_pie 
{
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px;
    color:rgba(0,0,0,0.9);
    text-align: center;
    height:30px; 
    width:150px;
    text-decoration: none;
    background:-webkit-gradient(linear,0% 0%,0% 100%,from(rgba(255,255,255,1)),to(rgba(185,185,185,1)));
    background:-moz-linear-gradient(top,rgba(255,255,255,1),rgba(185,185,185,1));
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10pt;
    /*    background:-webkit-gradient(linear,0% 0%,0% 100%,from(rgba(255,255,255,1)),to(rgba(185,185,185,1)));
        background:-moz-linear-gradient(top,rgba(255,255,255,1),rgba(185,185,185,1));*/

    z-index: 20;
}

.a_bt_pie:hover {
    background:rgba(240,240,240,1);
    height:30px;
}

.a_bt_pie:active, a:focus {
    background:indianred;
    /*    background:-webkit-gradient(linear,0% 100%,0% 0%,from(rgba(255,255,255,1)),to(rgba(185,185,185,1)));
        background:-moz-linear-gradient(bottom,rgba(255,255,255,1),rgba(185,185,185,1));*/
    height:30px;

}

.a_bt_pie:disabled {
    color:rgba(0,0,0,0.4);
    text-shadow:1px 1px 0px rgba(255,255,255,0.5);
    background:rgba(220,220,220,1);

}
.bt_down_area
{
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px;
    color:rgba(0,0,0,0.9);
    text-align: center;
    height:20px; 
    width:150px;
    text-decoration:none;
    border-color:#cccccc;
    background:-webkit-gradient(linear,0% 0%,0% 100%,from(rgba(255,255,255,1)),to(rgba(185,185,185,1)));
    background:-moz-linear-gradient(top,rgba(255,255,255,1),rgba(185,185,185,1));
    padding:5px 5px 5px 5px;   
    float: left;
    margin-top: 10px;
    margin-right:10px;
    z-index:5;
}
.a_bt_down_area 
{
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px;
    color:rgba(0,0,0,0.9);
    text-align: center;
    height:20px; 
    width:150px;
    text-decoration: none;
    background:-webkit-gradient(linear,0% 0%,0% 100%,from(rgba(255,255,255,1)),to(rgba(185,185,185,1)));
    background:-moz-linear-gradient(top,rgba(255,255,255,1),rgba(185,185,185,1));
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10pt;
    /*    background:-webkit-gradient(linear,0% 0%,0% 100%,from(rgba(255,255,255,1)),to(rgba(185,185,185,1)));
        background:-moz-linear-gradient(top,rgba(255,255,255,1),rgba(185,185,185,1));*/
    padding:5px 5px 5px 5px;
    z-index: 20;
}

.a_bt_down_area:hover {
    background:rgba(240,240,240,1);
    height:20px;
}

.a_bt_down_area:active, a:focus {
    background:indianred;
    /*    background:-webkit-gradient(linear,0% 100%,0% 0%,from(rgba(255,255,255,1)),to(rgba(185,185,185,1)));
        background:-moz-linear-gradient(bottom,rgba(255,255,255,1),rgba(185,185,185,1));*/
    height:20px;

}

.a_bt_down_area:disabled {
    color:rgba(0,0,0,0.4);
    text-shadow:1px 1px 0px rgba(255,255,255,0.5);
    background:rgba(220,220,220,1);

}
.text_box
{
    color:rgba(0,0,0,0.9);
    text-shadow:1px 1px 0px rgba(255,255,255,0.8);
    text-align: center;
    height:100px; 
    width:200px;
    border-style:groove;
    border-color:gray;
    background:-webkit-gradient(linear,0% 0%,0% 100%,from(rgba(255,255,255,1)),to(rgba(185,185,185,1)));
    background:-moz-linear-gradient(top,rgba(233,255,255,1),rgba(185,185,185,1));
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10pt;
    /*    background:-webkit-gradient(linear,0% 0%,0% 100%,from(rgba(255,255,255,1)),to(rgba(185,185,185,1)));
        background:-moz-linear-gradient(top,rgba(255,255,255,1),rgba(185,185,185,1));*/
    padding:5px 5px 5px 5px;
    
}
.div_menu
{
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px;
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: 25;
    overflow:auto;
    border-style:groove;
    display: none;
    background-color:#777777 ;
    opacity:0.7;
    filter:alpha(opacity=40);

}
.bt_menu
{
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px;
    color:rgba(0,0,0,0.9);
    text-shadow:1px 1px 0px rgba(255,255,255,0.8);
    text-align: left;
    height:25px; 
    width:180px;
    text-decoration:none;
    border-color:#cccccc;
    background:-webkit-gradient(linear,0% 0%,0% 100%,from(rgba(255,255,255,1)),to(rgba(185,185,185,1)));
    background:-moz-linear-gradient(top,rgba(255,255,255,1),rgba(185,185,185,1));
    margin-top: 5px;
    margin-bottom:0px;
    margin-left: 5px;
}
.bt_menu2
{
    text-shadow:1px 1px 0px rgba(255,255,255,0.8);
    text-align: left;
    margin-top: 5px;
    height:40px; 
    width:160px;
    margin-bottom:0px;
    margin-left: 5px;
}
.a_bt_menu
{
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px;
    color:rgba(0,0,0,0.9);
    text-shadow:1px 1px 0px rgba(255,255,255,0.8);
    text-align: center;
    height:20px; 
    width:160px;
    text-decoration: none;
    background:-webkit-gradient(linear,0% 0%,0% 100%,from(rgba(255,255,255,1)),to(rgba(185,185,185,1)));
    background:-moz-linear-gradient(top,rgba(255,255,255,1),rgba(185,185,185,1));
    font-family: Arial,Helvetica,sans-serif;
    font-size: 8pt;
    /*    background:-webkit-gradient(linear,0% 0%,0% 100%,from(rgba(255,255,255,1)),to(rgba(185,185,185,1)));
        background:-moz-linear-gradient(top,rgba(255,255,255,1),rgba(185,185,185,1));*/

    z-index: 20;
}
.a_bt_menu:hover {
    background:rgba(240,240,240,1);
    height:25px;
}

.a_bt_menu:active, a:focus {
    background:indianred;
    /*    background:-webkit-gradient(linear,0% 100%,0% 0%,from(rgba(255,255,255,1)),to(rgba(185,185,185,1)));
        background:-moz-linear-gradient(bottom,rgba(255,255,255,1),rgba(185,185,185,1));*/
    height:25px;

}

.a_bt_menu:disabled {
    color:rgba(0,0,0,0.4);
    text-shadow:1px 1px 0px rgba(255,255,255,0.5);
    background:rgba(220,220,220,1);

}
.div_text_box
{
    width: 150px;
    height: 100px;
    position: absolute;
    z-index: 25;
    overflow:auto;
    display: inherit;
    background-color:lightgrey;  
    font-weight: bold;
}
.bt_button
{
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px;
    color:rgba(0,0,0,0.9);
    text-align: left;
    height:20px; 
    width:180px;
    text-decoration:none;
    border-color:#cccccc;
    background:-webkit-gradient(linear,0% 0%,0% 100%,from(rgba(255,255,255,1)),to(rgba(185,185,185,1)));
    padding:5px 5px 5px 5px;   
    margin-top: 12px;
    margin-right:10px;
    margin-bottom:10px;
}
.a_bt_button
{
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px;
    color:rgba(0,0,0,0.9);
    text-align: center;
    height:25px; 
    width:170px;
    text-decoration: none;
    background:-webkit-gradient(linear,0% 0%,0% 100%,from(rgba(255,255,255,1)),to(rgba(185,185,185,1)));
    font-family: Arial,Helvetica,sans-serif;
    font-size: 8pt;
    /*    background:-webkit-gradient(linear,0% 0%,0% 100%,from(rgba(255,255,255,1)),to(rgba(185,185,185,1)));
        background:-moz-linear-gradient(top,rgba(255,255,255,1),rgba(185,185,185,1));*/

    z-index: 20;
}
.tipo7
{
    width: 160px;
    height: 40px;
    position: absolute;
    overflow:auto;
    display: inherit;  
    font-weight: bold;  
}
.tipo5
{
    width: 160px;
    height: 30px;
    position: absolute;
    overflow:auto;
    display: inherit;  
    font-weight: bold;   
}
.menu_img
{
    background: url('../img/Bottoncino.png') top left no-repeat;
    display: block;
    width: 30px;
    height: 30px;
}
.menu_img2
{
    background: url('../img/Bottoncino.png') top left no-repeat;
    display: block;
    width: 30px;
    height: 30px; 
}
/*.menu_img:hover,menu_img2
{
   background: url('../img/Bottoncino.png') top right no-repeat !important; 
}
.menu_img:active
{
    background: url('../img/Bottoncino.png') top right no-repeat !important;
}
.menu_img:focus
{
    background: url('../img/Bottoncino.png') top right no-repeat !important;
}*/
